/* colorscheme */
:root {
    --text: #0c1011;
    --background: #fafcfc;
    --primary: #48a7ba;
    --secondary: #94d7e5;
    --accent: #50cde6;
    --border: #3f3f3f;
    --shadow: #00000069;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  /* entire site body  */
  body {
    height: 100vh;
    width: 100vw;
  }
  
  /* navigation bar */
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
    border: 1px solid var(--text);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .header li {
    float: left;
    border-right: 1px solid var(--border);
  }
  
  .header li:last-child {
    border-right: none;
    border-left: 1px solid var(--border);
  }
  
  /* navigation bar style */
  .header li a {
    display: block;
    color: #0c1011;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header li a:hover {
    background-color: var(--accent);
  }
  
  .active {
    background-color: var(--secondary);
  }
  
  /* paragraph styling */
  .wooooParagraphy {
    background-color: var(--primary);
    padding: 5px;
  
    width: 60%;
    margin: auto;
    margin-top: 270px; /*  met 48px komt het recht onder de nav bar  */
    margin-bottom: 170px;
  
    height: auto;
    border: 1px solid var(--border);
    box-shadow: 3px 3px 6px var(--shadow);
  }
  
  .wooooParagraphy > p {
    font-size: 20px;
    color: var(--text);
    text-align: center;
  }
  
  /* button style admin page */
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 4em;
  }
  
  /* inlog style  */
  .inlog {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  
  .inlogzooi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 2em;
    margin-top: 40em;
  }
  
  /* footer style */
  footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    border: 1px solid var(--border);
    vertical-align: bottom;
  }
  
  footer > p {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .addEvent,
  .addBand,
  .removeEvent,
  .addEventToBand {
    margin-bottom: 0.75em;
  }
  
  .addAdmin {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 4.5em;
    background-color: var(--secondary);
    padding: 1.5em;
    width: 45%;
  
    border: 1px solid var(--border);
    box-shadow: 3px 3px 6px var(--shadow);
  }
  
  .bandTabel {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    background-color: var(--accent);
    width: fit-content;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid var(--border);
    box-shadow: 3px 3px 6px var(--shadow);
  }
  
  .bandlist {
    list-style-type: none;
  }
  
  .list {
    margin: 1em;
  }
  
  .event {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    background-color: var(--accent);
    width: fit-content;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid var(--border);
    box-shadow: 3px 3px 6px var(--shadow);
    align-items: center;
    width: 40%;
  }
  
  .bandsEvent {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .bandsEvent div {
    width: 100%;
    text-align: center;
  }
  
  .bandNaam,
  .eventNaam {
    list-style: none;
    margin-bottom: 1em;
  }
  
  .eventInfo {
    display: flex;
    flex-direction: row;
    gap: 2em;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .agenda {
    margin-top: 5em;
  }